.headerWrap {
  display: none;
  position: relative;
}

.burgerMenu {  
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding-bottom: 36px;
}

.nav {
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    /* width: 100vw; */
    background-color: var(--4);
    padding: 36px 10px;
    transform: translateY(calc(-100% - 90px - 20px));
    transition: transform 0.5s ease-out;
    z-index: 5;
}

.nav_open {
  transform: translateY(-20px);
}

.burgerBtn {
  background-color: transparent;
  width: 24px;
  height: 24px;
  border: none;
  outline: none;

  &:focus-visible {
    border-radius: 30px;
    background-color: #dfd4eb;
  }

}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 15px;
  color: var(--2);
}

@media (max-width: 990px) {
  .headerWrap {
    display: block;
  }
}

