.header {
  padding: 20px 0 25px 0;
  position: relative;
  
  background-image: url('img/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left 395px top -140px ;
    
}

.headerWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 220px;
}
