.header {
  padding: 20px 0 25px 0;
  
  background-image: url('img/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left 395px top -140px ;
    
}

.headerWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


@media (max-width: 930px) {
  .header {
    background-position: left 180px top -45px;
  }
}