.headerWrap {  
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.list {
  display: flex;
  gap: 40px;
}

.item {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 15px;
  color: var(--4);
}

@media (max-width: 930px) {
  .headerWrap {  
    display: none;
  }
}