.nav {

}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.item {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 15px;
  color: var(--4);
}
