.registration {
  padding-top: 70px;
  padding-bottom: 60px;
  background-color: #eee2fa;
}

.title {
  font-family: var(--second-family);
  font-size: 40px;
  margin-bottom: 30px;
  max-width: 780px;
}

.about {
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 60px;
}

.form {

}

.fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
  gap: 33px 17px;
}

.inputWrap {
}

.label {
  display: block;
  font-size: 15px;
  color: #5f536c;
  padding-left: 20px;
  margin-bottom: 2px;
}

.input {
  width: 100%;
  border: 2px solid var(--3);
  border-radius: 10px;
  min-height: 70px;
  padding: 20px;

  &:hover {
    border: 2px solid var(--7);
  }

  &:focus {
    border: 2px solid var(--7);
    outline: none;
  }

  &:active {
    border: 2px solid var(--8);
  }
}

.submitWrap {

}

.submit {
  width: 100%;
  border: none;
  grid-row: 2/3;
  grid-column: 3/4;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  min-height: 70px;
  background-image: linear-gradient(47deg, #2e00b1 0%, #8100bd 48.44%, #a400be 100%);
  background-color: rgba(255, 255, 255, 0.1);
  /* background-color: transparent; */
  padding: 12px 30px;
  color: var(--4);

  &:hover,
  &:focus {
    background-color: rgba(255, 255, 255, 0.9);
  }
}

@media (max-width:1041px) {
  .about {
    font-size: 24px;
    margin-bottom: 66px;
  }
}

@media (max-width: 800px) {
  .registration {
    padding-top: 60px;
  }

  .title {
    margin-bottom: 18px;
  }

  .about {
    margin-bottom: 51px;
  }

  .fieldset {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: stretch;
  }

  .fieldset > .inputWrap:nth-of-type(3) {
    margin-bottom: 30px;
  }

  .label {
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 5px;
  }
}

@media (max-width: 380px) {
  .registration {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .container {
    padding-right: 25px;
  }

  .title {
    font-size: 19px;
    margin-bottom: 9px;
  }

  .about {
    font-size: 17px;
    margin-bottom: 22px;
    max-width: 210px;
  }

  .label {
    font-size: 12px;
    margin-bottom: 9px;
  }

  .input {
    height: 50px;
    min-height: auto;
    padding: 10px;
    border: 1px  solid var(--3);

    &:hover {
      border: 1px solid var(--7);
    }
  
    &:focus {
      border: 1px solid var(--7);
      outline: none;
    }
  
    &:active {
      border: 1px solid var(--8);
    }
  }

  .submit {
    min-height: 50px;
    font-size: 16px;
  }

  .inputWrap {
    margin-bottom: 0;
  }

  .fieldset > .inputWrap:nth-of-type(3) {
    margin-bottom: 18px;
  }

  .copyright {
    font-size: 14px;
  }
}
