@import "~normalize.css";

@font-face {
  font-display: swap; 
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/nunito-v26-cyrillic-regular.woff2') format('woff2'),
      url('fonts/nunito-v26-cyrillic-regular.woff') format('woff');
}

@font-face {
  font-display: swap; 
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/nunito-v26-cyrillic-600.woff2') format('woff2'),
      url('fonts/nunito-v26-cyrillic-600.woff') format('woff');
}

@font-face {
  font-display: swap; 
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/nunito-v26-cyrillic-700.woff2') format('woff2'),
      url('fonts/nunito-v26-cyrillic-700.woff') format('woff');
}

/* @font-face {
  font-display: swap;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/comfortaa-v45-cyrillic-700.woff2') format('woff2'),
      url('../fonts/comfortaa-v45-cyrillic-700.woff') format('woff');
} */

:root {
  --color-1: #392350;
  --color-2: #210b36;
  --color-3: #c6b6d7;
  --color-4: #fff;
  --color-7: #b865d6;
  --color-8: #6e479e;
}

html {
  position: relative;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: Nunito, sans-serif;
  font-size: 15px;
  font-weight: 400;
  background-color: var(--color-1);
  color: var(--color-4);
}

img {
  max-width: 100%;
  height: auto;
}

button {
  padding: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}

iframe {
  border: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
